<div class="w-100 position-absolute top-0 start-0" *ngIf="modalVersion" style="z-index: 1000000;">
	<div class="alert alert-warning alert-dismissible fade show m-2" role="alert">

		A new version of this app is available. <a href="" (click)="updateVersion()">Update now</a>

		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
			(click)="closeVersion()"></button>

	</div>
</div>

<div>
	<p>this.modalVersion: {{this.modalVersion}} </p>
	<p>this.swUpdate.isEnabled: {{this.getSwUpdate().isEnabled}} </p>
	<p>this.info: {{this.info}} </p>
</div>
