<section class="container">
	<h2>home</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed ex orci. Phasellus magna ante, ullamcorper non
		leo in, fermentum efficitur felis. Donec vitae mattis erat. Sed vel odio arcu. Praesent porta nulla et sapien
		interdum, id placerat leo semper. Mauris eget consequat sem. Suspendisse tincidunt et est sit amet laoreet.
		Vivamus nec rutrum enim. In malesuada nibh non tempor imperdiet. In dignissim, felis in tincidunt consequat,
		metus augue euismod diam, ut eleifend turpis nisi vitae ipsum. Nulla mattis, magna at convallis mattis, sem
		justo viverra ligula, maximus dignissim dolor nunc id arcu. Nullam auctor, ligula ac cursus lobortis, sapien
		mauris lacinia felis, in ultrices mi dolor quis arcu. Vivamus iaculis tincidunt lobortis. In hac habitasse
		platea dictumst.</p>
</section>

<div class="container py-3">
	<h1>Angular Progressive Web Application (PWA)</h1>

	<div class="row my-5">
		<div class="col text-end">
			Status:
		</div>
		<div class="col">
			<span class="badge bg-success" *ngIf="isOnline">Online</span>
			<span class="badge bg-danger" *ngIf="!isOnline">Offline</span>
		</div>
	</div>
</div>

<div class="w-100 position-absolute top-0" *ngIf="modalVersion">
	<div class="alert alert-secondary m-2">
		<button type="button" class="btn-close position-absolute top-0 end-0 m-1" aria-label="Close"
			(click)="closeVersion()"></button>
		A new version of this app is available. <a href="" (click)="updateVersion()">Update now</a>
	</div>
</div>
