<section class="container">

	<p>settings-page works!</p>

	<code>{{this.ua}}</code>
	<br />
	<code>{{this.platform}}</code>
	<br />
	<code>{{this.userAgent}}</code>

	<p>"Browser CodeName: " {{_navigator.appCodeName}} </p>
	<p>"Browser Name: " {{_navigator.appName}} </p>
	<p>"Browser Version: " {{_navigator.appVersion}} </p>
	<p>"Cookies Enabled: " {{_navigator.cookieEnabled}} </p>
	<p>"Browser Language: " {{_navigator.language}} </p>
	<p>"Browser Online: " {{_navigator.onLine}} </p>
	<p>"Platform: " {{_navigator.platform}} </p>
	<p>"User-agent header: " {{_navigator.userAgent}} </p>
</section>
